@media (max-width: 1461px) {
  .notes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1122px) {
  .notes {
    grid-template-columns: 1fr 1fr;
  }
  .home-page {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 691px) {
  .auth-form__form-control {
    width: 90%;
  }
  .home-page {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    height: auto;
    border: none;
  }
}

@media (max-width: 774px) {
  * {
    font-size: 12px;
  }
  .title {
    font-size: 1.5rem;
  }
  .password_mask {
    top: 23px;
  }
  .auth-form__btn-box {
    flex-direction: column;
  }
  .auth-form__btn,
  .auth-form__btn_primary {
    margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  nav {
    top: 0;
    height: 60px;
  }
  .notes {
    grid-template-columns: 1fr;
  }
  .container_with-nav {
    margin-top: 60px;
    padding-bottom: 35px;
  }
  .nav-link-block {
    display: none;
  }
  .filter__btn_danger {
    text-align: center;
    width: 80px;
    margin: 0 auto;
    padding: 5px 10px;
  }
}

@media (min-width: 501px) {
  .mobile-nav {
    display: none;
  }
}
