.filter {
  display: flex;
  flex-direction: column;
}
.filter > h4 {
  margin-left: 5px;
  margin-bottom: 5px;
}

.filter__text {
  font-size: 1rem;
  width: 100%;
  padding: 5px 10px;
  background-color: #202124;
  outline: none;
  border: none;
  border-bottom: 1px solid #afb1b4;
  margin-bottom: 10px;
}

.filter__text:hover {
  background-color: #35373b;
}

.filter__text:focus {
  background-color: #2c2e31;
}

.filter > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__select {
  font-size: 1rem;
  width: 60%;
  padding: 5px 10px;
  background-color: #202124;
  outline: none;
  border: none;
  border-bottom: 1px solid #afb1b4;
}

.filter__select:hover {
  background-color: #35373b;
}

.filter__select:focus {
  background-color: #2c2e31;
}

.filter__btn_danger {
  padding: 2px 5px;
  background-color: #b2222257;
  border: 1px solid #afb1b4;
  border-radius: 10px;
  margin: 0 1px;
}

.filter__btn_danger:hover {
  background-color: #b2222291;
}

.filter__btn_danger:active {
  outline: 1px solid #afb1b4;
  background-color: #202124;
}
