.notes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.notes__card {
  padding: 15px;
  border: 1px solid #afb1b4;
  border-radius: 10px;
  cursor: pointer;
}

.notes__card:hover {
  background-color: #35373b;
}

.notes__card:active {
  background-color: #2c2e31;
  outline: 1px solid #afb1b4;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid #afb1b4;
  margin-bottom: 7px;
}

.card__title > h4 {
  text-transform: uppercase;
}
