@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./styles/navbar.css);
@import url(./styles/auth-form.css);
@import url(./styles/filter-form.css);
@import url(./styles/home-page-content.css);
@import url(./styles/badge.css);
@import url(./styles/create-form.css);
@import url(./styles/alert-message.css);
@import url(./styles/note-page.css);
@import url(./styles/loader.css);
@import url(./styles/questions.css);
@import url(./styles/adapt.css);

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #e8eaed;
  box-sizing: border-box;
}

body {
  background-color: #202124;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.container_with-nav {
  padding: 0;
  margin-top: 60px;
}

.home-page {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.page-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #afb1b446;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sidebar {
  border-right: 1px solid #afb1b4;
  padding: 10px 15px;
  height: 100vh;
}

.home-page__content {
  padding: 20px;
}

.to:hover {
  color: #d6d8db;
}

.back {
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #2c2e31;
  cursor: pointer;
}

.back:hover {
  color: #d6d8db;
  background-color: #35373b;
}
